.top-menu{
    position: absolute;
    transition: all ease 0.3s;
    z-index: 11;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.28);
}

.nav-menu{
    float: right;
    line-height: 32px;
    margin-bottom: 0;
}

.nav-menu a:hover{
    color: #00b4d9;
}

.nav-menu a:after{
    background-color: #00b4d9;
}


nav ul li{
    float: left;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    margin-right: 3px;
}

nav ul li a{
    color: #fff;
    line-height: 74px;
    display: block;
    text-decoration: none !important;
    font-size: 13px;
    padding: 0 7px;
    font-weight: 500;
    
}

.selected:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 100%;
    transition: width .5s ease, background-color .5s ease;
}

nav ul li a:after {
    height: 2px;
    width: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover:after {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.logo {
    float: left;
    padding: 22px 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logo a{
    color: #fff;
}

.logo a:hover{
    text-decoration: none;
    opacity: 0.5;
}

/*------------------------ 2 Home ------------------------*/        

.home{
    background:url(../img/main.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: table;
    z-index: 10;
    position: relative;
}

.home-content{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 100;
   position: relative;
}

.home-content .text{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}