{% extends  'base.html' %}

{% block extrajs %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/axioma_generator.js"></script>
{% endblock %}

{% block extracss %}
{% endblock %}
 
{% block nav %}
<nav>
    <ul class="nav-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#" class="selected">Axioma generator</a></li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-4" id ="Axiomas">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Axiomas</h5>
          <div v-for="(axioma, index) in axiomas">
			<input type="hidden" class="csrfmiddlewaretoken" value="{{ csrf_token }}">
          	[[index]]
          	<input class="form-control form-control-sm" style="margin-bottom: 10px" type="text" v-model="axioma.output" placeholder="Output axioma" disabled v-show="!axioma.edit_mode">
          	<input class="form-control form-control-sm" style="margin-bottom: 10px" type="text" v-model="axioma.input" placeholder="Input axioma" v-show="axioma.edit_mode">
          	<button type="button" class="btn btn-success" v-on:click="axioma.edit_mode = ! axioma.edit_mode" v-show="!axioma.edit_mode" >edit</button>
          	<button type="button" class="btn btn-success" v-on:click="axioma.edit_mode = ! axioma.edit_mode" v-show="axioma.edit_mode" >end edit</button>
          	<button type="button" class="btn btn-danger" v-on:click="del(index)">delete</button>
          	<button type="button" class="btn btn-danger" v-on:click="send(index)">send</button>
  		</div>
      	<button type="button" class="btn btn-success" v-on:click="add()">Add</button>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search for</h5>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Using formulas</h5>	
      </div>
    </div>
  </div>
</div>
{% endblock %}
