<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	{% block favicon %}
	<link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	{% endblock %}

	{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% endblock %}

	{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-4.1.2/css/bootstrap.min.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/preloader.css"/>    <!-- Google Web fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<!-- Font icons -->
	<link rel="stylesheet" href="{{ STATIC_URL }}icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
	{% endblock %}
	{% block extracss %} {% endblock %}


	{% block js %}
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-4.1.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
		<script src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	{% endblock %}
	{% block extrajs %} {% endblock %}

</head>

<body>
	<!-- Preloading -->
	<div id="preloader">
		<div class="spinner">
			<div class="uil-ripple-css" style="transform:scale(0.29);">
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid top-menu" id="vue-top-menu">
		<input type="hidden" id="vue-data-is_authenticated" name="variable" value="{{user.is_authenticated}}">
		<div class="row">
			<div class="col-md-3">
				<div class="logo"> 
					<a href="{% url 'index' %}">First-order logic</a>
				</div>
			</div>
			<div class="col-md-9">
				{% block nav %} {% endblock %}
			</div>
		</div>
	</div>
	<!--HOME-->


	<section class="home" id="home">
		<div class="home-content">
			<div class="container">
		  		{% block content %} {% endblock %}
			</div>

			<br>
		</div>
	</section>

	<div id="overlay"></div>
</body>

</html>
