{% extends  'base.html' %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock %}
 
{% block nav %}
<nav>
    <ul class="nav-menu">
        <li><a href="{% url 'index' %}" class="selected">Home</a></li>
        <li><a href="{% url 'axioma_generator' %}">Axioma generator</a></li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<form method="post">
    <div class="form-group">
        <label for="Example_Area" class="text" >Example textarea</label>{% csrf_token %}
        <textarea class="form-control" id="Example_Area" rows="4" name="input_text">{{jopka}}</textarea>
    </div>
    <input type="submit" value="Run">
</form>
{% endblock %}
